<script lang="ts">
	import { offset } from 'svelte-floating-ui/dom';
	import { createFloatingActions } from 'svelte-floating-ui';
	import { pageData } from '$lib/index';
	import type { Writable } from 'svelte/store';

	let PageData: Writable<{
		id: string,
		title: string,
		label: string
	}>;
	pageData.subscribe((value) => {
		PageData = pageData;
	});

	const [floatingRef, floatingContent] = createFloatingActions({
		strategy: 'absolute',
		placement: 'top',
		middleware: [offset(6)]
	});

	let showTooltip = false;

	export let src: string;
	export let alt: string;
	export let href: string;
</script>

<a {href} class="cursor-default">
	<div
		on:mouseenter={() => (showTooltip = true)}
		on:mouseleave={() => (showTooltip = false)}
		role="navigation"
		class="w-20 h-20 m-[.1rem] rounded-2xl flex items-center justify-center hover:bg-neutral-400 hover:bg-opacity-20 {$PageData.title ==
		alt
			? 'bg-neutral-400'
			: ''} bg-opacity-20 duration-300"
	>
		<div
			class="bg-black text-white absolute mb-40 duration-200 p-1 w-20 rounded-full text-center select-none pointer-events-none {showTooltip
				? ''
				: 'opacity-0'}"
			use:floatingContent
		>
			{alt}
		</div>

		<img {src} {alt} class="w-14 select-none" />
	</div>
</a>
