<script lang="ts">
	export let src: string;
	export let alt: string;
	export let href: string;
</script>

<a href="https://{href}" target="_blank"><img {src} {alt} class="h-[1.3rem] m-2 hover:opacity-80 duration-100" /></a>
