<script lang="ts">
	import { pageData } from '$lib/index';
	pageData.set({
		id: 'blog',
		title: 'Blog',
		label: 'Posts'
	});

	export let data;

	function timestampToDate(timestamp: any) {
		const date = new Date(timestamp * 1000);
		return date.toLocaleDateString();
	}
</script>

<section>
	<div class="flex flex-wrap justify-center">
		{#each data.posts as post}
			<a
				href="/blog/{post.slug}"
				class="m-3 w-80 rounded-lg bg-[#1C1B22] outline-2 hover:outline hover:outline-[#0c0c0c]"
			>
				<img
					src={post.image}
					alt={post.title}
					class="h-[11.25rem] w-80 overflow-hidden rounded-t-lg"
				/>
				<p class="mt-2 font-bold text-center">{post.title}</p>
				<p class="text-center">{timestampToDate(post.date)}</p>
				<hr class="my-2 mx-7" />
				<p class="m-2 text-center">{post.description}</p>
			</a>
		{/each}
	</div>
</section>
