<script lang="ts">
	import { page } from '$app/stores';
	import { pageData } from '$lib/index';

	pageData.set({
		id: 'error',
		title: 'Error',
		label: 'Oh no! Something bad happened.'
	});
</script>

<div class="w-[100%] h-[100%] flex items-center justify-center">
	<span class="text-center">
		<h1 class="text-3xl font-extrabold text-red-700">{$page.status}: {$page.error?.message}</h1>
		<a href="/" class="hover:underline">Go back home</a>
	</span>
</div>
