<script lang="ts">
	import DockItem from '../lib/DockItem.svelte';

	import '../app.css';
	import { pageData } from '$lib/index';
	import type { Writable } from 'svelte/store';
	import PanelImg from '$lib/PanelImg.svelte';

	const noBackButton = ['home', 'projects', 'blog', 'about'];

	let PageData: Writable<{
		id: string;
		title: string;
		label: string;
	}>;
	pageData.subscribe((value) => {
		PageData = pageData;
	});
</script>

<head>
	<title>{$pageData.title} | ubinull</title>
</head>

<div id="view">
	<div
		class="inline-flex h-[2.075rem] w-[100%] items-center justify-center bg-black bg-opacity-[.35] backdrop-blur-2xl backdrop-filter"
	>
		<span
			class="m-1 mr-auto cursor-default select-none rounded-full px-6 py-[.10rem] font-semibold text-white duration-100 hover:bg-neutral-400 hover:bg-opacity-20"
			>{$PageData.title}</span
		>
		<PanelImg src="/github.svg" alt="GitHub logo" href="github.com/ubionexd" />
		<PanelImg src="/gitlab.svg" alt="GitLab logo" href="gitlab.com/ubinull" />
		<PanelImg src="/mastodon.svg" alt="Mastodon logo" href="floss.social/@ubinull" />
		<PanelImg src="/twitter.svg" alt="Twitter logo" href="twitter.com/ubinull" />
		<PanelImg src="/kofi.svg" alt="Ko-Fi donation logo" href="ko-fi.com/ubinull" />
	</div>
	<div class="top-34 fixed left-0 z-0 flex h-[90%] w-[100%] items-center justify-center">
		<div class="h-[70vh] w-[50vw] rounded-xl bg-[#242424]">
			{#if noBackButton.includes($PageData.id) === false}
				<div class="fixed flex h-12 w-[49.5%] items-center justify-end">
					<a
						href={$PageData.id == 'error'
							? '/'
							: $PageData.id == 'post'
							? '/blog'
							: $PageData.id == 'project'
							? '/projects'
							: '/'}
						class="cursor-default"
					>
						<img
							src="/close.svg"
							alt="close"
							class="p-1 h-6 rounded-full duration-200 hover:bg-neutral-800"
						/>
					</a>
				</div>
			{/if}
			<div
				class="flex h-12 w-[100%] items-center justify-center rounded-t-xl border-b border-[#1F1F1F] bg-[#303030]"
			>
				<h1 class="ml-3 text-base font-bold text-white select-none">{$PageData.label}</h1>
			</div>
			<div class="h-[91%] w-[100%] overflow-y-auto overflow-x-clip break-words text-white">
				<slot />
			</div>
		</div>
	</div>
	<div class="fixed bottom-0 flex h-32 w-[100%] items-center justify-center">
		<div
			class="m-2 flex w-fit items-center justify-start rounded-3xl bg-black bg-opacity-[.35] p-3 backdrop-blur-2xl backdrop-filter"
		>
			<DockItem src="/home.svg" alt="Home" href="/" />
			<DockItem src="/projects.svg" alt="Projects" href="/projects" />
			<DockItem src="/blog.svg" alt="Blog" href="/blog" />
			<DockItem src="/info.svg" alt="About" href="/about" />
		</div>
	</div>
</div>

<div
	id="warning"
	class="fixed left-0 top-0 m-0 h-[100%] w-[100%] bg-black bg-opacity-40 p-0 backdrop-blur-md backdrop-filter"
>
	<h1 class="m-3 text-base font-bold text-center text-white select-none font-base">
		Please rotate your phone sideways to view this website.
	</h1>
	<img
		src="/rotate_screen.svg"
		alt="phone rotating around"
		class="pointer-events-none absolute left-[50%] top-40 translate-x-[-50%] translate-y-[-50%] transform"
	/>
</div>

<style lang="postcss">
	#warning {
		display: none;
	}
	@media only screen and (orientation: portrait) {
		#view {
			display: none;
		}
		#warning {
			display: block;
		}

		:global(html) {
			background-image: url(/pills-d.avif);
			background-repeat: no-repeat;
			background-size: 100vh;
		}
	}
	@media only screen and (orientation: landscape) {
		#warning {
			display: none;
		}

		:global(html) {
			background-image: url(/pills-d.avif);
			background-repeat: no-repeat;
			background-size: cover;
		}
	}
</style>
