<script lang="ts">
	import type { PageData } from './$types';
	import { pageData } from '$lib/index';

	export let data: PageData;

	pageData.set({ id: 'post', title: 'Blog', label: data.meta.title });
</script>

<svelte:head>
	<title>{data.meta.title}</title>
	<meta property="og:type" content="article" />
	<meta property="og:title" content={data.meta.title} />
</svelte:head>

<article class="m-3">
	<div class="flex justify-center">
		<img src={data.meta.image} alt={data.meta.title} class="w-[80%] rounded-lg" />
	</div>
	<div>
		<svelte:component this={data.content} />
	</div>
	<br />
</article>

<p class="relative bottom-0 mt-3 text-center">
	{#each data.meta.tags as tag}
		<span class="m-5 select-none rounded-full bg-[#303030] p-2"># {tag}</span>
	{/each}
</p>
