@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    font-size: theme(fontSize.5xl);
}

h2 {
    font-size: theme(fontSize.4xl);
}

h3 {
    font-size: theme(fontSize.3xl);
}

h4 {
    font-size: theme(fontSize.2xl);
}

h5 {
    font-size: theme(fontSize.xl);
}

h6 {
    font-size: theme(fontSize.lg);
}


.shiki {
    margin-right: theme(margin.6);
    margin-left: theme(margin.2);
    padding: theme(padding.2);
    border-radius: theme(borderRadius.lg);
}